<template>
  <div class="add-feedback">
    <div class="content-area">
      <div class="container">
        <h4>การให้ความเห็น แนะนำติชมระบบ</h4>
        <br />
        <p>กรุณาให้ความเห็นในเชิงสร้างสรรค์ เพื่อช่วยในการพัฒนาระบบให้ดึขึ้น</p>
        <br />
        <div class="form-group">
          <label>เรื่อง</label>
          <input type="text" class="form-control" v-model="subject" />
        </div>
        <div class="form-group">
          <label>ความเห็น</label>
          <textarea class="form-control" rows="3" v-model="detail"></textarea>
        </div>
        <div class="row">
          <div class="col">
            <div class="select-file">
              <input id="fileUpload" type="file" hidden @change="handleFileUpload" />
              <button type="submit" class="btn btn-primary" @click="chooseFiles">อัพโหลดไฟล์</button>
            </div>
          </div>
          <div v-if="file != null">
            <div
              class="col"
              v-if="file.length != 0"
              style="margin-top: 10px; color: green;"
            >{{ file.name }}</div>
            <div class="col" v-if="file.length == 0" style="margin-top: 10px;">ไม่ได้เลือกไฟล์</div>
          </div>
        </div>
        <hr />
        <div class="text-center">
            <span style="color: red;">{{ error }}</span>
        </div>
        <br />
        <div class="row">
          <!-- <div class="col"></div> -->
          <div class="col text-center">
            <button type="submit" class="btn btn-danger" style="width: 130px;">ยกเลิก</button>
          </div>
          <div class="col text-center">
            <button
              type="submit"
              class="btn btn-primary"
              style="width: 130px;"
              @click="SendFeedback"
            >ส่งความคิดเห็น</button>
          </div>
          <!-- <div class="col"></div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Auth } from "../function/Auth";
import axios from "axios";
import { IP } from "../config";
import Swal from "sweetalert2/dist/sweetalert2.js";

export default {
  data() {
    return {
      user: "",
      file: null,
      subject: "",
      detail: "",
      error: "",
      access_token: '',
      refresh_token: ''
    };
  },
  methods: {
    chooseFiles() {
      document.getElementById("fileUpload").click();
    },
    handleFileUpload(e) {
      this.file = e.target.files[0];
      //   console.log(this.file);
    },
    SendFeedback() {
      if (this.subject != "" && this.detail != "") {
        this.error = "";
        const data = new FormData();
        if (this.file != null) {
          data.append("file", this.file);
          data.append("subject", this.subject);
          data.append("detail", this.detail);
          data.append("access_token", this.access_token);

          axios
            .post(IP + "/add-topics-attach-file", data, {
              onUploadProgress: ProgressEvent => {
                console.log(
                  parseInt(
                    Math.round(
                      (ProgressEvent.loaded / ProgressEvent.total) * 100
                    ) + "%"
                  )
                );
              }
            })
            .then(response => {
              console.log(response.data);
              this.success();
            });
        } else {
          console.log(this.subject, this.detail, this.access_token);
          axios({
            method: "post",
            url: IP + "/add-topics",
            data: {
              subject: this.subject,
              detail: this.detail,
              access_token: this.access_token
            }
          }).then(async response => {
            const data = response.data;
            if(data != null){
              this.success();
            }else{
              await Auth.RefreshToken(this.refresh_token)
              Swal.fire("token หมดอายุ!", "Refresh หน้าจอเพื่อทำงานต่อ!.", "error");
            }
          });
        }
      } else {
        this.error = "กรุณากรอกหัวเรื่องและความคิดเห็น.";
      }
    },
    success(){
        this.subject = '';
        this.detail = '';
        this.file = null;
        this.error = '';
        Swal.fire("เพิ่มความคิดเห็น!", "เพิ่มความเห็นของคุณแล้ว.", "success");
    },
  },
  async created() {
    await Auth.initial(this.$route.query, 'add_feedback')
    this.access_token = localStorage.getItem('sso_access_token');
    this.refresh_token = localStorage.getItem('sso_refresh_token');
  }
};
</script>

<style scoped>
.content-area {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
</style>