<template>
  <div>
    <v-app class="main">
      <v-container style="margin-top: 40px;">
        <h3>รายงานที่ขอระงับใช้</h3>
        <hr />
        <div class="form-group btn-group">
          <input
            type="button"
            class="btn btn-primary"
            value="Approve"
            @click="UpdateStatusManyItem('Revoked')"
          />
          <input
            type="button"
            class="btn btn-primary"
            value="Cancel"
            @click="UpdateStatusManyItem('draft')"
          />
        </div>
        <v-card>
          <v-card-title>
            <v-text-field v-model="search" label="Search" single-line hide-details></v-text-field>
          </v-card-title>
          <v-data-table
            v-model="selectedTasks"
            :headers="headers"
            :items="list_visualizes"
            :search="search"
            item-key="idlistvisualize"
            show-select
            class="elevation-1"
          >
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="item in items" :key="item.idlistvisualize">
                  <td>
                    <v-checkbox
                      v-model="selectedTasks"
                      :value="item"
                      style="margin:0px; padding:0px"
                      hide-details
                    />
                  </td>
                  <td>{{ item.worksheetname }}</td>
                  <td>{{ item.workbookname }}</td>
                  <td>{{ item.workbookowner }}</td>
                  <td>
                    <v-img
                      :src="item.imageurl"
                      :lazy-src="item.imageurl"
                      aspect-ratio="1"
                      class="grey lighten-2"
                      max-width="150"
                      max-height="100"
                    >
                      <template v-slot:placeholder>
                        <v-row class="fill-height ma-0" align="center" justify="center">
                          <v-progress-circular
                            size="20"
                            width="3"
                            indeterminate
                            color="grey lighten-5"
                          ></v-progress-circular>
                        </v-row>
                      </template>
                    </v-img>
                  </td>
                  <td>Waiting for Approval</td>
                  <td>
                    <div class="btn-group-vertical">
                      <input
                        type="button"
                        class="btn btn-primary btn-sm"
                        value="Approve"
                        @click="UpdateStatus(item.worksheetid, item.workbookid, 'Revoked')"
                      />
                      <input
                        type="button"
                        class="btn btn-primary btn-sm"
                        value="Cancel"
                        @click="UpdateStatus(item.worksheetid, item.workbookid, 'draft')"
                      />
                    </div>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-data-table>
        </v-card>
      </v-container>
    </v-app>
  </div>
</template>

<script>
import Swal from "sweetalert2/dist/sweetalert2.js";
import axios from "axios";
import { IP } from "../config";
import { Auth } from "../function/Auth";

export default {
  data() {
    return {
      token: "",
      list_visualizes: [],
      list_visualizes_data: [],
      search: "",
      headers: [
        { text: "รายงาน", value: "worksheetname" },
        { text: "สมุดรายงาน", value: "workbookname" },
        { text: "เจ้าของ", value: "workbookowner" },
        { text: "ภาพประจำรายงาน", value: "imageurl" },
        { text: "สถานะ", value: "" },
        { text: "Action", sortable: false }
      ],
      selectedTasks: [],
      username: ""
    };
  },
  methods: {
    async unselectDisable() {
      return new Promise(async (resolve, reject) => {
        var data = [];
        var i;
        data = this.selectedTasks;
        i = data.length;
        while (i--) {
          if (data[i].workbookowner != this.username) {
            data.splice(i, 1);
          }
        }
        this.selectedTasks = data;
        console.log(this.selectedTasks);
        resolve("success!");
      });
    },
    UpdateStatus(worksheetid, workbookid, status) {
      var message = "";
      if (status == "Revoked") {
        message = "Revoke";
      } else if (status == "draft") {
        message = "Draft";
      }

      Swal.fire({ position: 'top',
        title: "ดำเนินการต่อ ?",
        text: "คุณต้องการดำเนินการต่อหรือไม่ ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: `Yes`
      }).then(result => {
        if (result.value) {
          axios({
            method: "post",
            url: IP + "/list_visualize_update_status",
            data: {
              workbookid: workbookid,
              worksheetid: worksheetid,
              status: status
            }
          }).then(response => {
            this.UpdateInLocalStorage(workbookid, worksheetid, status).then(
              async () => {
                await this.clear();
                Swal.fire({
                  position: 'top',
                  title: 'เสร็จสิ้น !',
                  text: 'เปลี่ยนสถานะเสร็จสิ้น',
                  icon: 'success'
                })
              }
            );
          });
        }
      });
    },
    UpdateInLocalStorage(workbookid, worksheetid, status) {
      return new Promise(async (resolve, reject) => {
        this.list_visualizes_data.forEach(function(val, i) {
          if (val.workbookid == workbookid && val.worksheetid == worksheetid) {
            val.reportstatus = status;
          }
        });
        console.log("update list: ", this.list_visualizes_data);
        localStorage.setItem(
          "list_visualizes",
          JSON.stringify(this.list_visualizes_data)
        );
        await this.getData();
        resolve("success!");
      });
    },
    async UpdateStatusManyItem(status) {
      // await this.unselectDisable().then(() => {
        if (this.selectedTasks.length > 0) {
          var message = "";
          if (status == "Revoked") {
            message = "Revoke";
          } else if (status == "draft") {
            message = "Draft";
          }
          var array = [];
          Swal.fire({ position: 'top',
            title: "ดำเนินการต่อ ?",
            text: "คุณต้องการดำเนินการต่อหรือไม่ ?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: `Yes`
          }).then(result => {
            if (result.value) {
              this.selectedTasks.forEach(function(val, i) {
                const object = {
                  workbookid: val.workbookid,
                  worksheetid: val.worksheetid
                };
                array.push(object);
              }, this);
              axios({
                method: "post",
                url: IP + "/list_visualize_update_status_many_item",
                data: {
                  item: array,
                  status: status
                }
              }).then(response => {
                this.UpdateInLocalStorageManyItem(array, status).then(
                  async () => {
                    await this.clear();
                    Swal.fire({
                      position: 'top',
                      title: 'เสร็จสิ้น !',
                      text: 'เปลี่ยนสถานะเสร็จสิ้น',
                      icon: 'success'
                    })
                  }
                );
              }, this);
            }
          }, this);
        }
      // });
    },
    UpdateInLocalStorageManyItem(data_array, status) {
      return new Promise(async (resolve, reject) => {
        this.list_visualizes_data.forEach(function(val_a, i) {
          data_array.forEach(function(val_b, x) {
            if (
              val_a.workbookid == val_b.workbookid &&
              val_a.worksheetid == val_b.worksheetid
            ) {
              val_a.reportstatus = status;
            }
          }, this);
        }, this);
        console.log("update list: ", this.list_visualizes_data);
        localStorage.setItem(
          "list_visualizes",
          JSON.stringify(this.list_visualizes_data)
        );
        await this.getData();
        resolve("success!");
      });
    },
    clear() {
      this.selectedTasks = [];
    },
    getData() {
      this.list_visualizes = [];
      const list_visualizes = localStorage.getItem("list_visualizes");
      this.username = localStorage.getItem("user_name");
      this.list_visualizes_data = JSON.parse(list_visualizes);
      this.list_visualizes_data.forEach(function(val, i) {
        if (val.reportstatus == "Waiting for Revoke") {
          this.list_visualizes.push(val);
        }
      }, this);
    }
  },
  props: ["user_token", "list_data"],
  created() {
    this.token = this.$props.user_token;
    this.getData();
  }
};
</script>

<style scoped>
@font-face {
  font-family: 'Kanit-Light';
  src: url('../assets/fonts/Kanit-Light.ttf');
}

.main{
  font-family: 'Kanit-Light';
}
</style>