<template>
  <div class="content-area">
    <br />
      <div class="row">
        <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
          <div class="page-heading">
            <p class="h3 page-header">รายงานที่ระงับใช้แล้ว</p>
            <hr />
          </div>
          <div class="form-group btn-group">
            <input type="button" class="btn btn-primary" value="Restore" @click="UpdateStatusManyItem('draft')"/>
            <input type="button" class="btn btn-primary" value="Delete" @click="UpdateStatusManyItem('Deleted')"/>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-responsive">
              <thead class="text-white" style="background: #337AB7">
                <tr>
                  <th class="text-center">
                    <input type="checkbox" name="chk-master" @click="activeCheckboxAll" />
                  </th>
                  <th class="text-center"></th>
                  <th class="text-center">รายงาน</th>
                  <th class="text-center">สมุดรายงาน</th>
                  <th class="text-center">เจ้าของ</th>
                  <th class="text-center">ภาพประจำรายงาน</th>
                  <th class="text-center">สถานะ</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, key) in displayedPosts" :key="item.worksheetid">
                  <td class="text-center">
                    <input
                      type="checkbox"
                      :name="'chk-' + item.worksheetid"
                      :value="item.worksheetid"
                      @click="activeCheckbox(item.workbookid, item.worksheetid)"
                    />
                  </td>
                  <td>{{ key+1 }}</td>
                  <td>{{ item.worksheetname }}</td>
                  <td>{{ item.workbookname }}</td>
                  <td>{{ item.workbookowner }}</td>
                  <td class="text-center">
                    <img :src="item.imageurl" class="img-preview-visualize" />
                  </td>
                  <td class="text-center">{{ item.reportstatus }}</td>
                  <td class="text-center">
                    <div class="btn-group-vertical">
                      <!-- class="form-group btn-group" -->
                      <input type="button" class="btn btn-primary" value="Restore" @click="UpdateStatus(item.worksheetid, item.workbookid, 'draft')"/>
                      <input type="button" class="btn btn-primary" value="Delete" @click="UpdateStatus(item.worksheetid, item.workbookid, 'Deleted')"/>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item">
                <button type="button" class="page-link" v-if="page != 1" @click="controlPage('-')">Previous</button>
              </li>
              <li
                class="page-item"
                v-for="pageNumber in pages.slice(page-1, page+5)"
                @click="controlPage(pageNumber)"
                :key="pageNumber"
              >
                <button tyle="button" class="page-link">{{ pageNumber }}</button>
              </li>
              <li class="page-item">
                <button
                  type="button"
                  @click="controlPage('+')"
                  v-if="page < pages.length"
                  class="page-link"
                >Next</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  </div>
</template>

<script>
import Swal from "sweetalert2/dist/sweetalert2.js";
import axios from "axios";
import { IP } from "../config";
import { Auth } from "../function/Auth";

export default {
  data() {
    return {
      token: '',
      page: 1,
      perPage: 9,
      pages: [],
      posts: [],
      list_active: [],
      list_visualizes: []
    };
  },
  props: ['user_token','list_data'],
  methods: {
    goToRoute(path) {
      this.$router.push(path);
    },
    controlPage(action) {
      if (action == "-") {
        this.page = this.page - 1;
        this.clear();
      } else if (action == "+") {
        this.page = this.page + 1;
        this.clear();
      } else {
        this.page = action;
        this.clear();
      }
    },
    clear() {
      $('input[name="chk-master"]').prop("checked", false);
      this.list_active.forEach(function(val, i) {
        $('input[name="chk-' + val.worksheetid + '"]').prop("checked", false);
      }, this);
      this.list_active = [];
    },
    activeCheckbox(workbookid, worksheetid) {
      var check = $('input[name="chk-' + worksheetid + '"]:checked').length > 0;
      if (check) {
        this.addItem(workbookid, worksheetid);
      } else {
        this.removeItem(workbookid, worksheetid);
      }
    },
    activeCheckboxAll() {
      var check = $('input[name="chk-master"]:checked').length > 0;
      if (check) {
        this.displayedPosts.forEach(function(val, i) {
          var check_enable = $('input[name="chk-' + val.worksheetid + '"]:checked').length > 0;
          if (!$('input[name="chk-' + val.worksheetid + '"]').prop("disabled"))
          {
            if(!check_enable){
              console.log(check_enable);
              $('input[name="chk-' + val.worksheetid + '"]').prop("checked",true);
              this.addItem(val.workbookid, val.worksheetid);
            }
          }
        }, this);
      } else {
        this.displayedPosts.forEach(function(val, i) {
          if (!$('input[name="chk-' + val.worksheetid + '"]').prop("disabled"))
          {
            $('input[name="chk-' + val.worksheetid + '"]').prop("checked",false);
            this.removeItem(val.workbookid, val.worksheetid);
          }
        }, this);
      }
    },
    addItem(workbookid, worksheetid) {
      const object = {
        workbookid: workbookid,
        worksheetid: worksheetid
      };
      this.list_active.push(object);
      console.log(this.list_active);
    },
    removeItem(workbookid, worksheetid) {
      for (var i = 0; i < this.list_active.length; i++) {
        if (
          this.list_active[i].workbookid === workbookid &&
          this.list_active[i].worksheetid === worksheetid
        ) {
          this.list_active.splice(i, 1);
        }
      }
      console.log(this.list_active);
    },
    UpdateStatusManyItem(status) {
      if (this.list_active.length > 0) {
        console.log(status, this.list_active);
        var message = '';
        if(status == 'draft'){
          message = 'Draft'
        }else if(status == 'Deleted'){
          message = 'Delete'
        }

        Swal.fire({ position: 'top',
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: `Yes, ${message} it!`
        }).then(result => {
          if (result.value) {
            axios({
              method: "post",
              url: IP + "/list_visualize_update_status_many_item",
              data: {
                item: this.list_active,
                status: status
              }
            }).then(response => {
              this.UpdateInLocalStorageManyItem(status).then(async () => {
                await this.getPosts(this.list_visualizes);
                await this.clear();
                Swal.fire(
                  "Request!",
                  `Your request has been ${message}.`,
                  "success"
                );
              }, this);
            }, this);
          }
        }, this);
      }
    },
    UpdateStatus(worksheetid, workbookid, status) {
      var message = '';
      if(status == 'draft'){
        message = 'Draft'
      }else if(status == 'Deleted'){
        message = 'Delete'
      }

      Swal.fire({ position: 'top',
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: `Yes, ${message} it!`
      }).then(result => {
        if (result.value) {
          axios({
            method: "post",
            url: IP + "/list_visualize_update_status",
            data: {
              workbookid: workbookid,
              worksheetid: worksheetid,
              status: status
            }
          }).then(response => {
            this.UpdateInLocalStorage(workbookid, worksheetid, status).then(async () => {
            await this.getPosts(this.list_visualizes);
            Swal.fire("Success!", `This content is ${status}.`, "success");
            }, this)
          }, this);
        }
      }, this);
    },
    UpdateInLocalStorage(workbookid, worksheetid, status){
      return new Promise(async (resolve, reject) => {
        this.list_visualizes.forEach(function(val,i){
          if(val.workbookid == workbookid && val.worksheetid == worksheetid){
            val.reportstatus = status
          }
        })
        localStorage.setItem("list_visualizes", JSON.stringify(this.list_visualizes))
        resolve('success!')
      })
    },
    UpdateInLocalStorageManyItem(status) {
      return new Promise(async (resolve, reject) => {
        this.list_visualizes.forEach(function(val_a, i) {
          this.list_active.forEach(function(val_b, i) {
            if (
              val_a.workbookid == val_b.workbookid &&
              val_a.worksheetid == val_b.worksheetid
            ) {
              val_a.reportstatus = status;
            }
          }, this);
        }, this);
        localStorage.setItem(
          "list_visualizes",
          JSON.stringify(this.list_visualizes)
        );
        resolve("success!");
      });
    },
    getPosts(list_visualizes) {
      this.posts = [];
      let data = [];
      for (let i = 0; i < list_visualizes.length; i++) {
        if(list_visualizes[i].reportstatus == 'Revoked'){
          this.posts.push(list_visualizes[i]);
        }
      }
    },
    paginate(posts) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return posts.slice(from, to);
    },
    setPages() {
      this.pages = [];
      let numberOfPages = Math.ceil(this.posts.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    }
  },
  computed: {
    displayedPosts() {
      return this.paginate(this.posts);
    }
  },
  watch: {
    posts() {
      this.setPages();
    }
  },
  async created(){
    this.token = this.$props.user_token;
    const list_visualizes = localStorage.getItem("list_visualizes");
    this.list_visualizes = JSON.parse(list_visualizes)
    await this.getPosts(this.list_visualizes);
  }
};
</script>
<style scoped>
.img-preview-visualize {
  width: 70%;
  max-height: 100px;
}
</style>