<template>
  <div class="content-area">
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <ul class="list-unstyled">
              <li style="margin-top: 10px;">
                <a id="a-menu-list" @click="goTo(1)" style="cursor: pointer;">ความเห็นทั้งหมด</a>
              </li>
              <li style="margin-top: 10px;">
                <a
                  id="a-menu-list"
                  @click="goTo(2)"
                  style="cursor: pointer;"
                >ความเห็นที่ยังไม่ได้ตอบ</a>
              </li>
              <li style="margin-top: 10px;">
                <a id="a-menu-list" @click="goTo(3)" style="cursor: pointer;">ความเห็นที่ตอบแล้ว</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-10 col-xs-12" style="margin-top: 30px;">
          <DashboardFeedbackAll v-if="active == 1" :user_data="data" :feedback_data="feedbacks" />
          <DashboardFeedbackUnanswered
            v-if="active == 2"
            :user_data="data"
            :feedback_data="feedbacks"
          />
          <DashboardFeedbackAnswered
            v-if="active == 3"
            :user_data="data"
            :feedback_data="feedbacks"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DashboardFeedbackAll from "./dashboard_feedback_all.vue";
import DashboardFeedbackAnswered from "./dashboard_feedback_answered.vue";
import DashboardFeedbackUnanswered from "./dashboard_feedback_unanswered.vue";
import { Auth } from "../function/Auth";
import axios from "axios";
import { IP } from "../config";

export default {
  data() {
    return {
      active: 0,
      data: "",
      feedbacks: "",
      access_token: "",
      feedback: "",
      list_visualizes: [
        {
          id: 1,
          comment: "ใช้งาน Portal ไม่ได้ คลิ้งแล้วไม่ไป",
          status: ""
        }
      ]
    };
  },
  components: {
    DashboardFeedbackAll,
    DashboardFeedbackAnswered,
    DashboardFeedbackUnanswered
  },
  methods: {
    goTo(id) {
      this.active = id;
    },
    GetFeedback() {
      axios({
        method: "post",
        url: IP + "/get-topics",
        data: {
          access_token: this.data.access_token
        }
      }).then(response => {
        if (response.data != null) {
          this.feedbacks = response.data;
        } else {
          console.log(response.data);
        }
      });
    }
  },
  async created() {
    await Auth.initial(this.$route.query, "dashboard_feedback");
    const access_token = localStorage.getItem("sso_access_token");
    const refresh_token = localStorage.getItem("sso_refresh_token");
    const user_role_string = localStorage.getItem("user_role");
    const object = {
      access_token: access_token,
      refresh_token: refresh_token
    };
    const user_role = JSON.parse(user_role_string);
    user_role.forEach(function(val, i) {
      const admin = val.name.includes("_ADMIN");
      if (!admin) {
        this.$router.push("/add_feedback");
        // this.data = object;
        // this.active = 1;
      } else {
        this.data = object;
        this.active = 1;
      }
    }, this);
  }
};
</script>
<style scoped>
#a-menu-list {
  margin-top: 10px;
  font-size: 14px;
}

#a-menu-list {
  color: black;
}

#a-menu-list:hover {
  color: rgb(28, 106, 151);
}

.img-preview-visualize {
  width: 70%;
}
</style>