<template>
  <div class="content-area">
    <br />
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <button type="button" class="control-label col-xs-12 hd" id="a-menu-list" style="font-size: 18px;" @click="active = 1" v-if="active != 0">รายการทั้งหมด</button>
            <button type="button" class="control-label col-xs-12 hd" id="a-menu-list" style="font-size: 18px; color: gray;" v-if="active == 0" disabled>รายการทั้งหมด</button>
            <ul class="list-unstyled" v-if="role_admin == 1">
              <li v-for="menu in list_menu" :key="menu.name" style="margin-top: 10px;">
                <button type="button" class="control-label col-xs-12 hd" id="a-menu-list" @click="active = menu.active" style="margin-top: -10px;" v-if="active != 0">{{ menu.name }}</button>
                <button type="button" class="control-label col-xs-12 hd" id="a-menu-list" style="margin-top: -10px; color: gray;" v-if="active == 0" disabled>{{ menu.name }}</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-10 col-xs-12">
          <p style="margin-top: 80px; text-align:center;" v-if="active == 0">กำลังโหลดข้อมูล ...</p>
          <DashboardListVisualize v-if="active == 1" :user_token="token" :list_data="list_visualizes"/>
          <DashboardApproveVisualize v-if="active == 2 && role_admin == 1" :user_token="token" :list_data="list_visualizes"/>
          <DashboardApproveRevokeVisualize v-if="active == 3 && role_admin == 1" :user_token="token" :list_data="list_visualizes"/>
          <DashboardRestoreVisualize v-if="active == 4 && role_admin == 1" :user_token="token" :list_data="list_visualizes"/>
        </div>
      </div>
    <!-- </div> -->
  </div>
</template>

<script>
import Swal from "sweetalert2/dist/sweetalert2.js";
import axios from "axios";
import { IP } from "../config";
import { Auth } from "../function/Auth";
import DashboardListVisualize from './dashboard_list_visualize_all'
import DashboardApproveVisualize from './dashboard_approve_visualize'
import DashboardApproveRevokeVisualize from './dashboard_approve_revoke_visualize'
import DashboardRestoreVisualize from './dashboard_restore_visualize'

export default {
  data() {
    return {
      tableau_token: "",
      tableau_site_id: "",
      sso_token: "",
      token: "",
      active: 0,
      role_user: 0,
      role_admin: 0,
      session: '',
      user_role: '',
      username: '',
      list_menu: [
        {
          name: "รายงานที่ขออนุมัติ",
          url: "dashboard_approve_visualize",
          active: 2
        },
        {
          name: "รายงานที่ขอระงับใช้",
          url: "dashboard_approve_revoke_visualize",
          active: 3
        },
        {
          name: "รายงานที่ระงับใช้แล้ว",
          url: "dashboard_restore_visualize",
          active: 4
        }
      ],
      list_visualizes: []
    };
  },
  components: {
    DashboardListVisualize,
    DashboardApproveVisualize,
    DashboardApproveRevokeVisualize,
    DashboardRestoreVisualize,
  },
  methods: {
    goTo(url) {
      window.open(url, "_blank");
    },
    async signinToTableau() {
      return new Promise(async resolve => {
        axios({
          method: "post",
          url: IP + "/SignInToTableau",
          data:{
            tableau_userid: this.token.tableau_userid
          }
        }).then(response => {
          const token = response.data.tsResponse.credentials[0].$.token;
          const site_id = response.data.tsResponse.credentials[0].site[0].$.id;
          this.tableau_token = token;
          this.tableau_site_id = site_id;
          resolve([token, site_id]);
        });
      });
    },
    async signoutFromTableau() {
      return new Promise(async resolve => {
        axios({
          method: "post",
          url: IP + "/SignOutToTableau",
          data: {
            tableau_token: this.tableau_token
          }
        }).then(() => {
          resolve("logout success!");
        });
      });
    },
    async queryVisual() {
      return new Promise(async resolve => {
        axios({
          method: "post",
          url: IP + "/QueryVisual",
          data: {
            site_id: this.tableau_site_id,
            ministry: localStorage.getItem('ministry'),
            department: localStorage.getItem('department'),
            tableau_userid: this.token.tableau_userid,
            user_name:localStorage.getItem('user_name'),
            user_id:localStorage.getItem('user_id'),
            token: this.tableau_token,
            role: this.user_role
          }
         }).then(response => {
          this.list_visualizes = response.data.rows;
          resolve(this.list_visualizes);
        });
      });
    },
    async initial() {
      return new Promise(async (resolve, reject) => {
        await Auth.initial(this.session).then(async () => {
        const access_token = localStorage.getItem("sso_access_token");
        const refresh_token = localStorage.getItem("sso_refresh_token");
        const tableau_userid = localStorage.getItem("tableau_user_id");
        this.username = localStorage.getItem("user_name");
        const user_role_string = localStorage.getItem("user_role");
        this.user_role = JSON.parse(user_role_string);
        const object = {
          access_token: access_token,
          refresh_token: refresh_token,
          tableau_userid: tableau_userid
        };
        this.token = object;
        await this.signinToTableau().then(async (response) => {
          await this.queryVisual().then(async () => {
            await this.signoutFromTableau().then(async () => {
              localStorage.setItem("list_visualizes", JSON.stringify(this.list_visualizes));
              this.active = 1;
              resolve('success!')
            }, this)
          }, this);
        }, this);
      }, this)
      })
    },
    checkRole(){
      return new Promise(async (resolve,reject) => {
        this.user_role.forEach(function(val, i) {
          const admin = val.name.includes("_ADMIN");
          if(admin){
            this.role_admin = 1;
          }
        }, this)
        resolve('success!')
      })
    }
  },
  async created() {
    const session = localStorage.getItem('session')
    this.session = JSON.parse(session);
    await this.initial().then(async (response) => {
      await this.checkRole();
    }, this)
  }
};
</script>
<style scoped>

.content-area{
  width: 95%;
  margin: 0 auto;
}

#a-menu-list {
  margin-top: 10px;
  font-size: 14px;
  background: none;
  border: none;
  padding: 0;
}

#a-menu-list {
  color: black;
}

#a-menu-list:hover {
  color: rgb(28, 106, 151);
}

.img-preview-visualize {
  width: 90%;
}
</style>