<template>
  <div class="content-area">
    <br />
    <div class="row">
      <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
        <div class="page-heading">
          <p class="h3 page-header">รายงานทั้งหมด</p>
          <hr />
        </div>
        <div class="form-group btn-group">
          <input
            type="button"
            class="btn btn-primary"
            value="Publish"
            @click="UpdateStatusManyItem('Waiting for Publish')"
          />
          <input type="button" class="btn btn-primary" value="Categorize" />
          <input type="button" class="btn btn-primary" value="Permission" />
          <input
            type="button"
            class="btn btn-primary"
            value="Revoke"
            @click="UpdateStatusManyItem('Waiting for Revoke')"
          />
          <input
            type="button"
            class="btn btn-primary"
            value="Delete"
            @click="UpdateStatusManyItem('Deleted')"
          />
        </div>
        <div class="table-responsive">
          <table
            class="table table-striped table-bordered table-hover table-responsive"
            width="100%"
          >
            <thead class="text-white" style="background: #337AB7">
              <tr class="d-flex">
                <th class="col-0 text-center">
                  <input type="checkbox" name="chk-master" @click="activeCheckboxAll" />
                </th>
                <th class="col-0 text-center">
                  <font-awesome-icon :icon="['fas', 'star']" />
                </th>
                <th class="col-1 text-center">รายงาน</th>
                <th class="col-1 text-center">สมุดรายงาน</th>
                <th class="col-2 text-center">เจ้าของ</th>
                <th class="col-2 text-center">ภาพประจำรายงาน</th>
                <th class="col-1 text-center">สถานะ</th>
                <th class="col-1 text-center">Publish</th>
                <th class="col-2 text-center">Action</th>
                <th class="col text-center">ระงับ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in displayedPosts" :key="item.worksheetid" class="d-flex">
                <td class="col-0 text-center">
                  <input
                    type="checkbox"
                    :name="'chk-' + item.worksheetid"
                    :value="item.worksheetid"
                    @click="activeCheckbox(item.workbookid, item.worksheetid)"
                    :disabled="item.reportstatus != 'draft'"
                  />
                </td>
                <td class="col-0 text-center">
                  <font-awesome-icon :icon="['fas', 'star']" />
                </td>
                <td class="col-1 text-left" id="set-text">{{ item.worksheetname }}</td>
                <td class="col-1 text-left" id="set-text">{{ item.workbookname }}</td>
                <td class="col-2 text-left" id="set-text">{{ item.workbookowner }}</td>
                <td class="col-2 text-center">
                  <img :src="item.imageurl" class="img-preview-visualize" />
                </td>
                <td class="col-1 text-center" id="set-text">{{ item.reportstatus }}</td>
                <td class="col-1 text-center">
                  <font-awesome-icon
                    :icon="['fas', 'cloud-upload-alt']"
                    v-if="item.reportstatus == 'draft'"
                    @click="UpdateStatus(item.worksheetid, item.workbookid, 'Waiting for Publish')"
                    style="cursor: pointer;"
                  />
                  <font-awesome-icon
                    :icon="['fas', 'cloud-upload-alt']"
                    v-if="item.reportstatus != 'draft'"
                    style="color: gray;"
                  />
                </td>
                <td class="col-2 text-center">
                  <div class="btn-group-vertical">
                    <button
                      type="button"
                      class="btn btn-primary"
                      @click="goToView(item.viewurl)"
                    >View</button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#visual-categorize-modal"
                    >Categorize</button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      @click="ActiveModalPermission(item.workbookid, item.worksheetid)"
                    >Permission</button>
                    <button type="button" class="btn btn-primary" @click="share(item.viewurl)">Share</button>
                  </div>
                </td>
                <td class="col text-center">
                  <font-awesome-icon
                    v-if="item.reportstatus == 'draft' || item.reportstatus == 'Waiting for Publish' || item.reportstatus == 'Published'"
                    :icon="['fas', 'trash']"
                    @click="UpdateStatus(item.worksheetid, item.workbookid, 'Waiting for Revoke')"
                    style="cursor: pointer;"
                  />
                  <font-awesome-icon
                    v-if="item.reportstatus != 'draft' && item.reportstatus != 'Waiting for Publish' && item.reportstatus != 'Published'"
                    :icon="['fas', 'trash']"
                    style="color: gray;"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item">
              <button
                type="button"
                class="page-link"
                v-if="page != 1"
                @click="controlPage('-')"
              >Previous</button>
            </li>
            <li
              class="page-item"
              v-for="pageNumber in pages.slice(page-1, page+5)"
              @click="controlPage(pageNumber)"
              :key="pageNumber"
            >
              <button tyle="button" class="page-link">{{ pageNumber }}</button>
            </li>
            <li class="page-item">
              <button
                type="button"
                @click="controlPage('+')"
                v-if="page < pages.length"
                class="page-link"
              >Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Modal Category -->
    <div
      class="modal fade bd-example-modal-lg"
      id="visual-categorize-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="visual-categorize-modal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="visual-categorize-modal">Category/Domain</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="modal-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-responsive">
                  <thead class="text-white" style="background: #337AB7">
                    <tr>
                      <th class="text-center">No</th>
                      <th class="text-center">Category</th>
                      <th class="text-center">Domain</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody v-for="category in list_category" :key="category.id">
                    <td class="text-center">{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.domain }}</td>
                    <td class="text-center">
                      <button type="button">Delete</button>
                    </td>
                  </tbody>
                </table>
              </div>
              <hr />
              <form>
                <div class="row">
                  <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Search Category" />
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Search Domain" />
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-primary form-control">Assign</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <v-app>
      <!-- Model Permission -->
      <v-dialog v-model="dialog_permission" max-width="600">
        <v-card>
          <ModalPermission :data="modal_data"/>
        </v-card>
      </v-dialog>
    </v-app>
  </div>
</template>

<script>
import Swal from "sweetalert2/dist/sweetalert2.js";
import axios from "axios";
import { IP } from "../config";
import { Auth } from "../function/Auth";
// Component
import ModalPermission from './modal_permission'

export default {
  data() {
    return {
      dialog_permission: false,
      modal_data: '',
      token: "",
      page: 1,
      perPage: 9,
      pages: [],
      list_active: [],
      list_visualizes: [],
      list_category: [
        {
          id: 1,
          name: "กระทรวงเกษตรและสหกรณ์",
          domain: "สำนักงานเเศรษฐกิจการเกษตร"
        },
        {
          id: 2,
          name: "นโยบายเร่งด่วน",
          domain: "การให้ความช่วยเหลือเกษตรกร และพัฒนานวัฒกรรม"
        },
        {
          id: 3,
          name: "นโยบายหลัก",
          domain: "พัฒนาสร้างความเข้มแข็งจากฐานราก"
        }
      ],
      list_user_grant_authorize: [
        {
          id: 1,
          username: "User 1",
          name: "นายข้าวหอม มะลิ",
          organize: "กระทรวงเกษตรและสหกรณ์",
          permission: {
            view: true,
            edit: true
          }
        },
        {
          id: 2,
          username: "กระทรวงเกษตรและสหกรณ์",
          name: "กระทรวงเกษตรและสหกรณ์",
          organize: "กระทรวงเกษตรและสหกรณ์",
          permission: {
            view: true,
            edit: true
          }
        },
        {
          id: 3,
          username: "user 2",
          name: "นายข้าวเหนียว มูล",
          organize: "กระทรวงเกษตรและสหกรณ์",
          permission: {
            view: true,
            edit: true
          }
        }
      ],
      posts: []
    };
  },
  components: {
    ModalPermission,
  },
  props: ["user_token", "list_data"],
  methods: {
    // new
    ActiveModalPermission(workbookid, worksheetid){
      this.modal_data = {
        workbookid: workbookid,
        worksheetid: worksheetid
      }
      this.dialog_permission = true
    },
    // old
    share(viewurl) {
      const viewurl_array = viewurl.split("/");
      const encode = encodeURI(
        `${TABLEAU_CONFIG.IP}/t/${viewurl_array[5]}/views/${viewurl_array[7]}/${viewurl_array[8]}?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link&:toolbar=no&:showShareOptions=false`
      );
      const url = `https://www.facebook.com/share.php?u=${encode}`;
      window.open(url, "_blank");
    },
    goToView(viewurl) {
      let routeData = this.$router.resolve({
        name: "tableau",
        query: { viewurl: viewurl }
      });
      window.open(routeData.href, "_blank");
    },
    controlPage(action) {
      if (action == "-") {
        this.page = this.page - 1;
        this.clear();
      } else if (action == "+") {
        this.page = this.page + 1;
        this.clear();
      } else {
        this.page = action;
        this.clear();
      }
    },
    clear() {
      $('input[name="chk-master"]').prop("checked", false);
      this.list_active.forEach(function(val, i) {
        $('input[name="chk-' + val.worksheetid + '"]').prop("checked", false);
      }, this);
      this.list_active = [];
    },
    activeCheckbox(workbookid, worksheetid) {
      var check = $('input[name="chk-' + worksheetid + '"]:checked').length > 0;
      if (check) {
        this.addItem(workbookid, worksheetid);
      } else {
        this.removeItem(workbookid, worksheetid);
      }
    },
    activeCheckboxAll() {
      var check = $('input[name="chk-master"]:checked').length > 0;
      if (check) {
        this.displayedPosts.forEach(function(val, i) {
          var check_enable =
            $('input[name="chk-' + val.worksheetid + '"]:checked').length > 0;
          if (
            !$('input[name="chk-' + val.worksheetid + '"]').prop("disabled")
          ) {
            if (!check_enable) {
              $('input[name="chk-' + val.worksheetid + '"]').prop(
                "checked",
                true
              );
              this.addItem(val.workbookid, val.worksheetid);
            }
          }
        }, this);
      } else {
        this.displayedPosts.forEach(function(val, i) {
          if (
            !$('input[name="chk-' + val.worksheetid + '"]').prop("disabled")
          ) {
            $('input[name="chk-' + val.worksheetid + '"]').prop(
              "checked",
              false
            );
            this.removeItem(val.workbookid, val.worksheetid);
          }
        }, this);
      }
    },
    addItem(workbookid, worksheetid) {
      const object = {
        workbookid: workbookid,
        worksheetid: worksheetid
      };
      this.list_active.push(object);
      console.log(this.list_active);
    },
    removeItem(workbookid, worksheetid) {
      for (var i = 0; i < this.list_active.length; i++) {
        if (
          this.list_active[i].workbookid === workbookid &&
          this.list_active[i].worksheetid === worksheetid
        ) {
          this.list_active.splice(i, 1);
        }
      }
      console.log(this.list_active);
    },
    UpdateStatusManyItem(status) {
      if (this.list_active.length > 0) {
        console.log(status, this.list_active);
        var message = "";
        if (status == "Waiting for Publish") {
          message = "Publish";
        } else if (status == "Waiting for Revoke") {
          message = "Revoke";
        } else if (status == "Deleted") {
          message = "Delete";
        }

        Swal.fire({ position: 'top',
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: `Yes, ${message} it!`
        }).then(result => {
          if (result.value) {
            axios({
              method: "post",
              url: IP + "/list_visualize_update_status_many_item",
              data: {
                item: this.list_active,
                status: status
              }
            }).then(response => {
              this.UpdateInLocalStorageManyItem(status).then(async () => {
                await this.getPosts(this.list_visualizes);
                await this.clear();
                Swal.fire(
                  "Request!",
                  `Your request has been ${message}.`,
                  "success"
                );
              }, this);
            }, this);
          }
        }, this);
      }
    },
    UpdateStatus(worksheetid, workbookid, status) {
      var message = "";
      if (status == "Waiting for Publish") {
        message = "Publish";
      } else if (status == "Waiting for Revoke") {
        message = "Revoke";
      }

      Swal.fire({ position: 'top',
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: `Yes, ${message} it!`
      }).then(result => {
        if (result.value) {
          axios({
            method: "post",
            url: IP + "/list_visualize_update_status",
            data: {
              workbookid: workbookid,
              worksheetid: worksheetid,
              status: status
            }
          }).then(response => {
            this.UpdateInLocalStorage(workbookid, worksheetid, status).then(
              async () => {
                await this.getPosts(this.list_visualizes);
                await this.clear();
                Swal.fire(
                  "Request!",
                  `Your request has been ${message}.`,
                  "success"
                );
              },
              this
            );
          }, this);
        }
      }, this);
    },
    UpdateInLocalStorage(workbookid, worksheetid, status) {
      return new Promise(async (resolve, reject) => {
        this.list_visualizes.forEach(function(val, i) {
          if (val.workbookid == workbookid && val.worksheetid == worksheetid) {
            val.reportstatus = status;
          }
        });
        localStorage.setItem(
          "list_visualizes",
          JSON.stringify(this.list_visualizes)
        );
        resolve("success!");
      });
    },
    UpdateInLocalStorageManyItem(status) {
      return new Promise(async (resolve, reject) => {
        this.list_visualizes.forEach(function(val_a, i) {
          this.list_active.forEach(function(val_b, i) {
            if (
              val_a.workbookid == val_b.workbookid &&
              val_a.worksheetid == val_b.worksheetid
            ) {
              val_a.reportstatus = status;
            }
          }, this);
        }, this);
        localStorage.setItem(
          "list_visualizes",
          JSON.stringify(this.list_visualizes)
        );
        resolve("success!");
      });
    },
    getPosts(list_visualizes) {
      this.posts = [];
      let data = [];
      for (let i = 0; i < list_visualizes.length; i++) {
        this.posts.push(list_visualizes[i]);
      }
    },
    paginate(posts) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return posts.slice(from, to);
    },
    setPages() {
      this.pages = [];
      let numberOfPages = Math.ceil(this.posts.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    }
  },
  computed: {
    displayedPosts() {
      return this.paginate(this.posts);
    }
  },
  watch: {
    posts() {
      this.setPages();
    }
  },
  async created() {
    this.token = this.$props.user_token;
    const list_visualizes = localStorage.getItem("list_visualizes");
    this.list_visualizes = JSON.parse(list_visualizes);
    await this.getPosts(this.list_visualizes);
  }
};
</script>
<style scoped>
.img-preview-visualize {
  width: 90%;
  max-height: 100px;
}

#set-text {
  display: block;
  word-wrap: break-word;
}
</style>