<template>
  <div class="content-area">
    <div class="page-heading">
      <p class="h3 page-header">ความเห็นทั้งหมด</p>
      <hr />
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-responsive">
        <thead class="text-white" style="background: #337AB7">
          <tr>
            <th class="text-center">ลำดับ</th>
            <th class="text-center">เรื่อง</th>
            <th class="text-center">วันที่เปลี่ยนแปลงสถานะล่าสุด</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, id) in feedbacks" :key="item.id">
            <td class="text-center">{{ id + 1 }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.lastModifiedDate }}</td>
            <td class="text-center">{{ item.status }}</td>
            <td class="text-center">
              <div class="form-group btn-group">
                <input type="button" class="btn btn-primary" value="View" @click="View(item)"/>
                <input type="button" class="btn btn-primary" value="Reply" @click="Reply(item)"/>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import {IP} from '../config'
import {Auth} from '../function/Auth'
export default {
  data() {
    return {
      user: "",
      feedbacks: '',
      access_token: ''
    };
  },
  methods: {
    goToRoute(path){
      this.$router.push(path);
    },
    GetFeedback(){
      axios({
        method:'post',
        url: IP + '/get-topics',
        data: {
          access_token: this.user.access_token
        }
      }).then(async response => {
        if(response.data != null){
            this.feedbacks = response.data; 
            console.log(this.feedbacks);
        }else{
          await Auth.RefreshToken(this.user.refresh_token)
          await this.GetFeedback()
        }
      })
    },
    View(feedback){
      this.$router.push({
        name: 'view_feedback',
        params: { p_feedback: feedback, p_access_token: this.user.access_token, p_refresh_token: this.user.refresh_token }
      })
    },
    Reply(feedback){
      this.$router.push({
        name: 'reply_feedback',
        params: { p_feedback: feedback, p_access_token: this.user.access_token, p_refresh_token: this.user.refresh_token }
      })
    }
  },
  props: ["user_data","feedback_data"],
  created(){
    this.user = this.$props.user_data;
    console.log('start get feedback');
    console.log(this.user);
    this.GetFeedback();
    // this.feedbacks = this.$props.feedback_data
  }
};
</script>
<style scoped>
#a-menu-list {
  margin-top: 10px;
  font-size: 14px;
}

#a-menu-list {
  color: black;
}

#a-menu-list:hover {
  color: rgb(28, 106, 151);
}

.img-preview-visualize {
  width: 70%;
}
</style>