<template>
  <div>
    <v-app class="main">
      <v-content>
        <v-container style="margin-top: 40px;">
          <h3>รายงานทั้งหมด</h3>
          <hr />
          <div class="form-group btn-group">
            <input
              type="button"
              class="btn btn-primary"
              value="Publish"
              @click="UpdateStatusManyItem('Waiting for Publish')"
            />
            <input type="button" class="btn btn-primary" value="Categorize" />
            <input type="button" class="btn btn-primary" value="Permission" />
            <input
              type="button"
              class="btn btn-primary"
              value="Revoke"
              @click="UpdateStatusManyItem('Waiting for Revoke')"
            />
            <!-- <input
              type="button"
              class="btn btn-primary"
              value="Delete"
              @click="UpdateStatusManyItem('Deleted')"
            /> -->
          </div>
          <v-card>
            <v-card-title>
              <v-text-field v-model="search" label="Search" single-line hide-details></v-text-field>
            </v-card-title>
            <v-data-table
              v-model="selectedTasks"
              :headers="headers"
              :items="list_visualizes"
              :search="search"
              item-key="idlistvisualize"
              show-select
              class="elevation-1"
            >
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="item in items" :key="item.idlistvisualize">
                    <td>
                      <v-checkbox
                        v-model="selectedTasks"
                        :value="item"
                        style="margin:0px; padding:0px"
                        hide-details
                        v-if="item.reportstatus == 'draft' && item.workbookowner == username"
                      />
                      <v-checkbox
                        style="margin:0px; padding:0px"
                        hide-details
                        v-if="item.reportstatus != 'draft' || item.workbookowner != username"
                        :disabled="item.reportstatus != 'draft' || item.workbookowner != username"
                      />
                    </td>
                    <td>
                      <div style="width: 70px;" id="set-text">{{ item.worksheetname }}</div>
                    </td>
                    <td>
                      <div style="width: 70px;" id="set-text">{{ item.workbookname }}</div>
                    </td>
                    <td>
                      <div style="width: 70px;" id="set-text">{{ item.workbookowner }}</div>
                    </td>
                    <td>
                      <v-img
                        :src="item.imageurl"
                        :lazy-src="item.imageurl"
                        aspect-ratio="1"
                        class="grey lighten-2"
                        max-width="150"
                        max-height="100"
                      >
                        <template v-slot:placeholder>
                          <v-row class="fill-height ma-0" align="center" justify="center">
                            <v-progress-circular
                              size="20"
                              width="3"
                              indeterminate
                              color="grey lighten-5"
                            ></v-progress-circular>
                          </v-row>
                        </template>
                      </v-img>
                    </td>
                    <td>{{ item.reportstatus }}</td>
                    <td>
                      <v-icon
                        v-if="item.reportstatus == 'draft' && item.workbookowner == username"
                        @click="UpdateStatus(item.worksheetid, item.workbookid, 'Waiting for Publish')"
                        color="primary"
                      >mdi-cloud-upload</v-icon>
                      <v-icon v-if="item.reportstatus != 'draft' || item.workbookowner != username" color="gray">mdi-cloud-upload</v-icon>
                    </td>
                    <td>
                      <div style="padding: 10px;" class="btn-group-vertical">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          @click="goToView(item.viewurl)"
                        >View</button>
                        <button
                          :disabled="item.workbookowner != username"
                          type="button"
                          class="btn btn-primary btn-sm"
                          data-toggle="modal"
                          data-target="#visual-categorize-modal"
                        >Categorize</button>
                        <button
                          
                          type="button"
                          class="btn btn-primary btn-sm"
                          data-toggle="modal"
                          data-target="#visual-grant-authorize-modal"
                          @click="ActiveModalPermission(item.workbookid, item.worksheetid, item.workbookowner)"
                        >Permission</button>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          @click="share(item.viewurl)"
                        >Share</button>
                      </div>
                    </td>
                    <td>
                      <v-icon
                        v-if="(item.reportstatus == 'draft' || item.reportstatus == 'Waiting for Publish' || item.reportstatus == 'Published') && item.workbookowner == username"
                        @click="UpdateStatus(item.worksheetid, item.workbookid, 'Waiting for Revoke')"
                        color="error"
                      >mdi-delete</v-icon>
                      <v-icon
                        v-if="(item.reportstatus != 'draft' && item.reportstatus != 'Waiting for Publish' && item.reportstatus != 'Published') || item.workbookowner != username"
                      >mdi-delete</v-icon>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          </v-card>
        </v-container>
      </v-content>

      <v-dialog v-model="dialog_permission" max-width="600" >
        <v-card class="v-dialog">
          <div class="content-area">
            <v-container>
              <v-row>
                <v-col col="12">
                  <label>Permission</label>
                  <!--<v-btn style="float: right; margin-right: 10px;" @click="closeModal()">Close</v-btn>-->
                  <v-btn
                    style="float: right; margin-right: 10px;"
                    color="primary"
                    @click="saveData()"
                    :disabled="workbookowner != username"
                  >Save</v-btn>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="users"
                    :items="userList"
                    filled
                    chips
                    label="User"
                    item-text="username"
                    item-value="id"
                    return-object
                    multiple
                    :disabled="workbookowner != username"
                    @input="searchInputUser=null"
                    :search-input.sync="searchInputUser"
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                        @click:close="removeUser(data.item)"
                      >{{ data.item.username }}</v-chip>
                    </template>
                    <template v-slot:item="data">
                      <v-list-item-content>
                        <v-list-item-title v-html="data.item.username"></v-list-item-title>
                        <v-list-item-subtitle v-html="data.item.firstName"></v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-autocomplete>
                  <v-autocomplete
                    v-model="ministrys"
                    :items="ministryList"
                    filled
                    chips
                    label="Ministry"
                    item-text="display_name"
                    item-value="name"
                    multiple
                    return-object
                    @change="updateDepartmentList()"
                    :disabled="workbookowner != username"
                    @input="searchInputMinistry=null"
                    :search-input.sync="searchInputMinistry">
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                        @click:close="removeMinistry(data.item)"
                      >{{ data.item.display_name }}</v-chip>
                    </template>
                    <template v-slot:item="data">
                      <v-list-item-content>
                        <v-list-item-title v-html="data.item.display_name"></v-list-item-title>
                        <v-list-item-subtitle v-html="data.item.name"></v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-autocomplete>
                  <v-autocomplete
                    v-model="departments"
                    :items="departmentList"
                    filled
                    chips
                    label="Department"
                    item-text="display_name"
                    item-value="name"
                    return-object
                    multiple
                    :disabled="workbookowner != username"
                    @input="searchInputDepartment=null"
                    :search-input.sync="searchInputDepartment"
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                        @click:close="removeDepartment(data.item)"
                      >{{ data.item.display_name }}</v-chip>
                    </template>
                    <template v-slot:item="data">
                      <v-list-item-content>
                        <v-list-item-title v-html="data.item.display_name"></v-list-item-title>
                        <v-list-item-subtitle v-html="data.item.name"></v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-autocomplete>
                </v-col>
              </v-row>
            </v-container>
          </div>
        </v-card>
      </v-dialog>
    </v-app>
  </div>
</template>

<script>
import Swal from "sweetalert2/dist/sweetalert2.js";
import axios from "axios";
import { IP, TABLEAU_CONFIG } from "../config";
import { Auth } from "../function/Auth";

export default {
  data() {
    return {
      token: "",
      search: "",
      list_visualizes: [],
      list_visualizes_data: [],
      headers: [
        {
          text: "รายงาน",
          align: "center",
          value: "worksheetname"
        },
        { text: "สมุดรายงาน", align: "center", value: "workbookname" },
        {
          text: "เจ้าของ",
          align: "center",
          value: "workbookowner"
        },
        { text: "ภาพประจำรายงาน", align: "center", value: "imageurl" },
        { text: "สถานะ", align: "center", value: "reportstatus" },
        { text: "Publish", align: "center", sortable: false },
        { text: "Actions", align: "center", sortable: false },
        { text: "ระงับ", align: "center", sortable: false }
      ],
      selectedTasks: [],
      dialog_permission: false,
      userList: [],
      ministryList: [],
      departmentList: [],
      users: [],
      ministrys: [],
      departments: [],
      workbookid: "",
      worksheetid: "",
      username: '',
      workbookowner: '',
      searchInputUser: null,
      searchInputMinistry: null,
      searchInputDepartment: null
    };
  },
  methods: {
    async ActiveModalPermission(workbookid, worksheetid, workbookowner) {
      console.log('active modal !',workbookid, worksheetid, workbookowner)
      this.workbookid = workbookid;
      this.worksheetid = worksheetid;
      this.workbookowner = workbookowner;
      await this.initialPermission();
      console.log('test',this.users);
      this.dialog_permission = true;
    },
    async unselectDisable() {
      return new Promise(async (resolve, reject) => {
        var data = [];
        var i;
        data = this.selectedTasks;
        i = data.length;
        while (i--) {
          if (data[i].reportstatus != "draft" || data[i].workbookowner != this.username) {
            data.splice(i, 1);
          }
        }
        this.selectedTasks = data;
        console.log(this.selectedTasks);
        resolve("success!");
      });
    },
    share(viewurl) {
      const viewurl_array = viewurl.split("/");
      const encode = encodeURI(
        `${TABLEAU_CONFIG.IP}/t/${viewurl_array[5]}/views/${viewurl_array[7]}/${viewurl_array[8]}?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link&:toolbar=no&:showShareOptions=false`
      );
      const url = `https://www.facebook.com/share.php?u=${encode}`;
      window.open(url, "_blank");
    },
    goToView(viewurl) {
      // let routeData = this.$router.resolve({
      //   name: "tableau",
      //   query: { viewurl: viewurl }
      // });
      // console.log(viewurl);
      // window.open(routeData.href, "_blank");
      window.open(viewurl, "_blank")
    },
    UpdateStatus(worksheetid, workbookid, status) {
      var message = "";
      if (status == "Waiting for Publish") {
        message = "Publish";
      } else if (status == "Waiting for Revoke") {
        message = "Revoke";
      }

      Swal.fire({ position: 'top',
        title: "ดำเนินการต่อ ?",
            text: "คุณต้องการดำเนินการต่อหรือไม่ ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: `Yes`
      }).then(result => {
        if (result.value) {
          axios({
            method: "post",
            url: IP + "/list_visualize_update_status",
            data: {
              workbookid: workbookid,
              worksheetid: worksheetid,
              status: status
            }
          }).then(response => {
            this.UpdateInLocalStorage(workbookid, worksheetid, status).then(
              async () => {
                await this.clear();
                Swal.fire({
                      position: 'top',
                      title: 'เสร็จสิ้น !',
                      text: 'ร้องขอเสร็จสิ้น',
                      icon: 'success'
                    })
              }
            );
          });
        }
      });
    },
    UpdateInLocalStorage(workbookid, worksheetid, status) {
      return new Promise(async (resolve, reject) => {
        this.list_visualizes_data.forEach(function(val, i) {
          if (val.workbookid == workbookid && val.worksheetid == worksheetid) {
            val.reportstatus = status;
          }
        });
        localStorage.setItem(
          "list_visualizes",
          JSON.stringify(this.list_visualizes_data)
        );
        await this.getData();
        resolve("success!");
      });
    },
    async UpdateStatusManyItem(status) {
      await this.unselectDisable().then(() => {
        if (this.selectedTasks.length > 0) {
          var message = "";
          if (status == "Waiting for Publish") {
            message = "Publish";
          } else if (status == "Waiting for Revoke") {
            message = "Revoke";
          } else if (status == "Deleted") {
            message = "Delete";
          }
          var array = [];
          Swal.fire({ position: 'top',
            title: "ดำเนินการต่อ ?",
            text: "คุณต้องการดำเนินการต่อหรือไม่ ?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: `Yes`
          }).then(result => {
            if (result.value) {
              this.selectedTasks.forEach(function(val, i) {
                const object = {
                  workbookid: val.workbookid,
                  worksheetid: val.worksheetid
                };
                array.push(object);
              }, this);
              axios({
                method: "post",
                url: IP + "/list_visualize_update_status_many_item",
                data: {
                  item: array,
                  status: status
                }
              }).then(response => {
                this.UpdateInLocalStorageManyItem(array, status).then(
                  async () => {
                    await this.clear();
                    Swal.fire({
                      position: 'top',
                      title: 'เสร็จสิ้น !',
                      text: 'ร้องขอเสร็จสิ้น',
                      icon: 'success'
                    })
                  }
                );
              }, this);
            }
          }, this);
        }
      });
    },
    UpdateInLocalStorageManyItem(data_array, status) {
      return new Promise(async (resolve, reject) => {
        this.list_visualizes_data.forEach(function(val_a, i) {
          data_array.forEach(function(val_b, x) {
            if (
              val_a.workbookid == val_b.workbookid &&
              val_a.worksheetid == val_b.worksheetid
            ) {
              val_a.reportstatus = status;
            }
          }, this);
        }, this);
        localStorage.setItem(
          "list_visualizes",
          JSON.stringify(this.list_visualizes_data)
        );
        await this.getData();
        resolve("success!");
      });
    },
    clear() {
      this.selectedTasks = [];
    },
    removeUser(item) {
      var index;
      for (var i = 0; i < this.users.length; i++) {
        if(item.email != this.username){
          if (this.users[i].id == item.id) {
            index = i;
          }
        }
      }
      if (index >= 0) this.users.splice(index, 1);
    },
    removeMinistry(item) {
      // remove ministry
      var index;
      for (var i = 0; i < this.ministrys.length; i++) {
        if (this.ministrys[i].id == item.id) {
          index = i;
        }
      }
      if (index >= 0) this.ministrys.splice(index, 1);
      // remove departments
      var x;
      var data = [];
        x = this.departments.length;
        while (x--) {
          if (this.departments[x].ministryName == item.name) {
            this.departments.splice(x, 1);
          }
        }
    },
    removeDepartment(item) {
      var index;
      for (var i = 0; i < this.departments.length; i++) {
        if (this.departments[i].id == item.id) {
          index = i;
        }
      }
      if (index >= 0) this.departments.splice(index, 1);
    },
    async saveData() {
      return new Promise(async resolve => {
        axios({
          method: "post",
          url: IP + "/SaveWorkSheetPermission",
          data: {
            users: this.users,
            ministrys: this.ministrys,
            departments: this.departments,
            workbookid: this.workbookid,
            worksheetid: this.worksheetid,
            currentuserid: localStorage.getItem("tableau_user_id"),
            currentusername: localStorage.getItem("user_name")
          }
        }).then(response => {
          window.alert("save permission complete.");
          this.dialog_permission = false;
          resolve(response.data);
        });
      });
    },
    async initialPermission() {
      console.log('initial permission !')
      this.userList = await this.getUserList();
      this.ministryList = await this.getOrganization();
      var currentPermission = await this.getPermission();
      this.users = currentPermission.users;
      this.ministrys = currentPermission.ministrys;
      await this.updateDepartmentList();
      this.departments = currentPermission.departments;
      console.log('initial permission success !')
    },
    async getUserList() {
      return new Promise(async resolve => {
        axios({
          method: "post",
          url: IP + "/listSSOUserInformation",
          data: {
            ssotoken: localStorage.getItem("sso_access_token")
          }
        }).then(response => {
          console.log('userList: ', response.data);
          const user = response.data;
          user.forEach(function(val,i){
            if(val.email == this.username){
              val.disabled = true
            }
          }, this)
          console.log('user', user);
          resolve(user);
        });
      });
    },
    async getOrganization() {
      console.log("get org");
      return new Promise(async resolve => {
        axios({
          method: "get",
          url: IP + "/get-organizations"
        }).then(response => {
          resolve(response.data);
        });
      });
    },
    async getPermission() {
      return new Promise(async resolve => {
        axios({
          method: "post",
          url: IP + "/QueryWorkSheetPermission",
          data: {
            workbookid: this.workbookid,
            worksheetid: this.worksheetid
          }
        }).then(response => {
          console.log(response);
          resolve(response.data);
        });
      });
    },
    async updateDepartmentList() {
      console.log(this.ministrys);
      this.departments = [];
      this.departmentList = [];
      for (var i = 0; i < this.ministrys.length; i++) {
        for (var j = 0; j < this.ministrys[i].departments.length; j++) {
          this.departmentList.push(this.ministrys[i].departments[j]);
        }
      }
    },
    getData() {
      this.list_visualizes = [];
      const list_visualizes = localStorage.getItem("list_visualizes");
      this.username = localStorage.getItem("user_name");
      this.list_visualizes_data = JSON.parse(list_visualizes);
      console.log('username: ',this.username);
      console.log('data: ',this.list_visualizes_data);
      this.list_visualizes_data.forEach(function(val, i) {
        if (val.reportstatus != "deleted") {
          this.list_visualizes.push(val);
        }
      }, this);
    }
  },
  props: ["user_token", "list_data"],
  async created() {
    this.token = this.$props.user_token;
    this.getData();
  }
};
</script>

<style scoped>

@font-face {
  font-family: 'Kanit-Light';
  src: url('../assets/fonts/Kanit-Light.ttf');
}

.main{
  font-family: 'Kanit-Light';
}

.my-awesome-table {
  table-layout: fixed;
}

#set-text {
  display: block;
  word-wrap: break-word;
}

.v-dialog {
    position: absolute;
    top: 0;
    width: 600px;
    padding: 20px;
}

</style>