<template>
  <div></div>
</template>

<script>
import { RedirectURL } from "../config";
export default {
  async created() {
    var query = this.$route.query;
    var page = await localStorage.getItem("page");
    var getSession = await localStorage.getItem("session");

    if (query.page != null) {
      this.setPage().then(() => {
        console.log("set page success");
      });
    }

    if (query.session_state == null) {
      this.signinToSSO().then(() => {
        console.log("login success !");
      });
    } else {
      if (getSession == null) {
        console.log('case 1.')
        this.setSession().then(async () => {
          if (localStorage.getItem("page") == "dashboard_list_visualize") {
            await localStorage.setItem("sessionState", 1);
          }
          await this.Router();
        });
      } else {
        console.log('case 2.')
        var session = JSON.parse(getSession);
        if(session.session_state != query.session_state){
          this.setSession().then(async () => {
            console.log('new session.')
            await localStorage.setItem("sessionState", 1)
          })
        }
        await this.Router();
      }
    }
  },
  methods: {
    async signinToSSO() {
      return new Promise(async (resolve, reject) => {
        let redirect_uri = encodeURI(`${RedirectURL}/`);
        let scope = encodeURI("profile email openid");
        let SSO_Url = `https://identity.data.go.th/auth/realms/dga/protocol/openid-connect/auth?redirect_uri=${redirect_uri}&client_id=dga-app&response_type=code&scope=${scope}`;
        window.open(SSO_Url, "_self");
        resolve("success!");
      });
    },
    async setSession() {
      return new Promise(async (resolve, reject) => {
        const session = {
          session_state: this.$route.query.session_state,
          code: this.$route.query.code
        };
        localStorage.setItem("session", JSON.stringify(session));
        resolve("success!");
      }, this);
    },
    async setPage() {
      return new Promise(async (resolve, reject) => {
        const page = this.$route.query.page;
        localStorage.setItem("page", page);
        resolve("success!");
      }, this);
    },
    async Router() {
      const page = localStorage.getItem("page");
      if (page == "dashboard_list_visualize") {
        this.$router.push("/dashboard_list_visualize");
      } else if (page == "portal") {
        this.$router.push("/portal");
      } else if (page == "report") {
        this.$router.push("/report");
      }
    }
  }
};
</script>