<template>
  <div class="portal">
    <v-app class="main">
      <br />
      <h4>หน่วยงานระดับกระทรวงหรือเทียบเท่า</h4>
      <br />
      <v-row no-gutters>
        <v-col v-for="item in ministry" :key="item.id" cols="12" xs="12" sm="6" md="4" lg="3" xl="2">
          <v-container>
            <v-card class="area-card" @click="goToReport(item.name, item.display_name)">
              <v-container>
                <div id="images">
                  <figure>
                    <v-img
                      :src="`${IP}/ministry/${item.name}.png`"
                      width="100%"
                      height="100%"
                    />
                  </figure>
                </div>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <p class="justify-center" id="font" v-on="on">{{ item.display_name }}</p>
                  </template>
                  <span>{{ item.display_name }}</span>
                </v-tooltip>
              </v-container>
            </v-card>
          </v-container>
        </v-col>
      </v-row>
      <hr />
      <h4>รายงานต่าง ๆ</h4>
      <br />
      <div v-if="latest_report.length == 0" style="text-align: center;">ไม่มีรายงานล่าสุด</div>
      <div v-if="latest_report.length != 0">
      <v-row no-gutters>
        <v-col
          v-for="item in latest_report"
          :key="item.idlistvisualize"
          cols="12"
          xs="12"
          sm="6"
          md="4"
          lg="3"
          xl="2"
        >
          <v-container>
            <v-card class="mx-auto area-card-report">
              <div>
                <figure>
                  <v-img class="black--text align-end" :src="item.imageurl" style="height: 160px;"></v-img>
                </figure>
              </div>
              <v-card-title>{{ item.worksheetname }}</v-card-title>
              <v-card-subtitle class="pb-0">{{ item.department_display }}</v-card-subtitle>
              <v-card-text class="pb-0" style="margin-top: 20px;">{{ Moment(item.update_time) }}</v-card-text>
              <v-card-actions class="card-actions">
                <v-spacer></v-spacer>
                <v-btn color="orange" text @click="goToView(item.viewurl)">Explore</v-btn>
                <v-btn color="orange" text @click="share(item.viewurl)">Share</v-btn>
              </v-card-actions>
            </v-card>
          </v-container>
        </v-col>
      </v-row>
      </div>
      <div>
        <br />
        <v-btn
          text
          small
          color="primary"
          style="float: right;"
          @click="goToReport('latest','ล่าสุด')"
          v-if="latest_report.length != 0"
        >More ...</v-btn>
      </div>
      <hr />
    </v-app>
    <br />
  </div>
</template>

<script>
import axios from "axios";
import { IP, TABLEAU_CONFIG } from "../config";
import moment from "moment-timezone";

export default {
  data() {
    return {
      IP: IP,
      latest_report: [],
      report_data: '',
      ministry_data: '',
      ministry: [],
      img: "",
    };
  },
  methods: {
    async goTo(page) {
      this.$router.push({
        name: "home",
        query: {
          page: page
        }
      });
    },
    async goToReport(name, display_name) {
      const object = {
        name: name,
        display_name: display_name
      }
      await localStorage.setItem("filterfrom", JSON.stringify(object));
      this.$router.push({ name: "home", query: { page: "report" } });
    },
    Moment(date) {
      return moment(date)
        .tz("Asia/Bangkok")
        .format("MMMM Do YYYY, h:mm:ss a");
    },
    goToView(viewurl) {
      window.open(viewurl, "_blank");
    },
    share(viewurl) {
      const viewurl_array = viewurl.split("/");
      const encode = encodeURI(
        `${TABLEAU_CONFIG.IP}/t/${viewurl_array[5]}/views/${viewurl_array[7]}/${viewurl_array[8]}?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link&:toolbar=no&:showShareOptions=false`
      );
      const url = `https://www.facebook.com/share.php?u=${encode}`;
      window.open(url, "_blank");
    },
    getLatestReportLimit4() {
      return new Promise(async (resolve, reject) => {
        axios({
          method: "get",
          url: IP + "/get_latest_report_limit_4"
        }).then(response => {
          console.log('limit 4: ',response.data);
          resolve(response.data);
        });
      });
    },
    getOrganizations() {
      return new Promise(async (resolve, reject) => {
        axios({
          method: "get",
          url: IP + "/get-organizations"
        }).then(response => {
          console.log('organization: ',response.data);
          const array = [];
          response.data.forEach(function(val,i){
            var n = val.display_name.includes('กระทรวง')
            if(n){
              array.push(val)
            }else if(val.display_name == 'สำนักนายกรัฐมนตรี'){
              array.push(val)
            }
          }, this)
          resolve(array);
        });
      });
    },
    ReportData(){
      this.report_data.forEach(function(re, i){
        this.ministry.forEach(function(min,x){
          if(re.ministry == min.name){   
            min.departments.forEach(function(de,y){
              if(re.department == de.name){
                re.department_display = de.display_name;
                this.latest_report.push(re);
              }
            }, this)
          }
        }, this)
      }, this)
    },
    async initial() {
      await this.getOrganizations().then(async (response) => {
        console.log(response);
        this.ministry = response;
        await this.getLatestReportLimit4().then(async (response) => {
          this.report_data = response;
          await this.ReportData();
        })
      })
    }
  },
  async created() {
    const page = localStorage.getItem("page");
    await this.initial();
  }
};
</script>

<style scoped>

@font-face {
  font-family: 'Kanit-Light';
  src: url('../assets/fonts/Kanit-Light.ttf');
}

.main{
  font-family: 'Kanit-Light';
}

.portal {
  width: 95%;
  margin: 0 auto;
}

#images {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#font {
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  padding: 20px 0px 20px 0px;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  /* text-overflow: ellipsis; */
}

.area-card {
  height: 200px;
  transition: 0.3s all;
  text-align: center;
  cursor: pointer;
}

.area-card:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.area-card-report {
  height: 350px;
  transition: 0.3s all;
  cursor: pointer;
}

.area-card-report:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.card-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}
</style>