<template>
  <div class="view-feedback">
    <div class="content-area">
      <div class="container">
        <div class="form-group">
          <label>เรื่อง</label>
          <input type="text" class="form-control" v-model="feedback.subject" disabled />
        </div>
        <div class="form-group">
          <label>ความเห็น</label>
          <textarea class="form-control" rows="3" v-model="feedback.detail" disabled></textarea>
        </div>
        <div v-if="feedback.attachmentPath != ''">
          ไฟล์ :
          <span style="color: green">{{ feedback.attachmentPath }}</span>
          <button class="btn btn-primary" style="margin-left: 30px;" @click="DownloadFile(feedback.attachmentPath)">Download</button>
        </div>
        <div v-if="feedback.attachmentPath == ''">
          ไฟล์ :
          <span style="color: red">ไม่มี</span>
        </div>
        <hr />
        <div class="card" v-for="item in post_data" :key="item.id" style="margin: 15px;">
          <div class="card-body">
            <p class="card-title">{{ item.message }}</p>
            <p class="card-text" style="float: left;">
              <small class="text-muted">{{ item.createdBy }}</small>
            </p>
            <p class="card-text" style="float: right;">
              <small class="text-muted">{{ item.lastModifiedDate }}</small>
            </p>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label>ตอบกลับ</label>
          <textarea class="form-control" rows="3" v-model="reply_message"></textarea>
        </div>
        <div class="text-center">
          <p style="color: red;">{{ this.error }}</p>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="submit" class="btn btn-danger" style="width: 130px;">ปิด</button>
          </div>
          <div class="col text-center">
            <button
              type="submit"
              class="btn btn-primary"
              style="width: 130px;"
              @click="ReplyFeedback"
            >ตอบกลับ</button>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import { IP } from "../config"
import download from 'downloadjs'
import Swal from "sweetalert2/dist/sweetalert2.js"
import {Auth} from '../function/Auth'

export default {
  data() {
    return {
      subject: "",
      detail: "",
      feedback: "",
      access_token: "",
      refresh_token: "",
      post_data: "",
      reply_message: '',
      error: ''
    };
  },
  methods: {
    GetPost() {
      axios({
        method: "post",
        url: IP + "/get-post",
        data: {
          id: this.feedback.id,
          access_token: this.access_token
        }
      }).then(async response => {
        this.post_data = response.data;
        if(this.post_data == null){
          Auth.RefreshToken(this.refresh_token)
          this.access_token = localStorage.getItem('sso_access_token');
          await this.GetPost();
        }
      });
    },
    DownloadFile(path){
        fetch(IP + '/download-file-topics',{
            method:'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                file: path
            })
        }).then(response => {
            const blob = response.blob()
            blob.then(async result => {
                await download(result, path, result.type)
            })
        })
    },
    ReplyFeedback(){
      if(this.reply_message != ''){
        this.error = ''
        axios({
          method:'post',
          url: IP + '/reply-topics',
          data: {
            message: this.reply_message,
            id: this.feedback.id,
            access_token: this.access_token
          }
        }).then(async response => {
          const data = response.data;
          if(data == null){
            await Auth.RefreshToken(this.refresh_token);
            this.access_token = localStorage.getItem('sso_access_token');
            await this.ReplyFeedback();
          }else{
            await this.GetPost();
            await this.success();
          }
        })
      }else{
        this.error = 'กรุณาเขียนข้อความ.'
      }
    },
    success(){
      this.reply_message = '';
      this.error = '';
      Swal.fire("ตอบกลับเสร็จสิ้น!", "เพิ่มความเห็นของคุณแล้ว.", "success");
    }
  },
  created() {
    this.feedback = this.$route.params.p_feedback;
    this.access_token = this.$route.params.p_access_token;
    this.refresh_token = this.$route.params.p_refresh_token;
    if (this.feedback == null) {
      this.$router.push("/dashboard_feedback");
    } else {
      this.GetPost();
    }
  }
};
</script>

<style scoped>
.content-area {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
</style>