<template>
  <div class="report">
    <v-app>
      <div class="btn-back">
        <v-btn class="mx-2" icon text color="black" @click="goTo('portal')">
          <v-icon dark>mdi-arrow-left</v-icon>
        </v-btn>
      </div>
      <br />
      <h4 style="margin-left: 50px;">{{ this.filterfrom.display_name }}</h4>
      <br />
      <div v-if="active == 0" style="text-align: center;">กำลังโหลดข้อมูล ...</div>
      <div v-if="active == 1">
        <div v-if="latest_report.length == 0" style="text-align: center;">ไม่มีรายงาน</div>
        <div v-if="latest_report.length != 0">
          <v-row no-gutters>
            <v-col
              v-for="item in latest_report"
              :key="item.idlistvisualize"
              cols="12"
              xs="12"
              sm="6"
              md="4"
              lg="3"
              xl="2"
            >
              <v-container>
                <v-card class="mx-auto area-card-report">
                  <div>
                    <figure>
                      <v-img
                        class="black--text align-end"
                        :src="item.imageurl"
                        style="height: 160px;"
                      ></v-img>
                    </figure>
                  </div>
                  <v-card-title>{{ item.worksheetname }}</v-card-title>
                  <v-card-subtitle class="pb-0">{{ item.department_display }}</v-card-subtitle>
                  <v-card-text class="pb-0" style="margin-top: 20px;">{{ Moment(item.update_time) }}</v-card-text>
                  <v-card-actions class="card-actions">
                    <v-spacer></v-spacer>
                    <v-btn color="orange" text @click="goToView(item.viewurl)">Explore</v-btn>
                    <v-btn color="orange" text @click="share(item.viewurl)">Share</v-btn>
                  </v-card-actions>
                </v-card>
              </v-container>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-app>
  </div>
</template>

<script>
import axios from "axios";
import { IP, TABLEAU_CONFIG } from "../config";
import moment from "moment-timezone";

export default {
  data() {
    return {
      filterfrom: "",
      latest_report: [],
      report_data: "",
      ministry_data: "",
      ministry: [],
      active: 0
    };
  },
  methods: {
    async goTo(page) {
      this.$router.push({
        name: "home",
        query: {
          page: page
        }
      });
    },
    Moment(date) {
      return moment(date)
        .tz("Asia/Bangkok")
        .format("MMMM Do YYYY, h:mm:ss a");
    },
    goToView(viewurl) {
      window.open(viewurl, "_blank");
    },
    share(viewurl) {
      const viewurl_array = viewurl.split("/");
      const encode = encodeURI(
        `${TABLEAU_CONFIG.IP}/t/${viewurl_array[5]}/views/${viewurl_array[7]}/${viewurl_array[8]}?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link&:toolbar=no&:showShareOptions=false`
      );
      const url = `https://www.facebook.com/share.php?u=${encode}`;
      window.open(url, "_blank");
    },
    getOrganizations() {
      return new Promise(async (resolve, reject) => {
        axios({
          method: "get",
          url: IP + "/get-organizations"
        }).then(response => {
          console.log("org_00","stelligence","org_89","org_99","marlo_org99");
          const array = [];
          response.data.forEach(function(val,i){
            if(val.name != 'org_00' && val.name != 'stelligence' && val.name != 'org_89' && val.name != 'org_99' && val.name != 'marlo_org99'){
              array.push(val);
            }
          }, this)
          resolve(array);
        });
      });
    },
    getLatestReport() {
      return new Promise(async (resolve, reject) => {
        axios({
          method: "get",
          url: IP + "/get_latest_report_all"
        }).then(response => {
          resolve(response.data);
        });
      });
    },
    getReportWithMinistry() {
      return new Promise(async (resolve, reject) => {
        axios({
          method: "post",
          url: IP + "/get_report_with_ministry",
          data: {
            ministry: this.filterfrom.name
          }
        }).then(response => {
          resolve(response.data);
        });
      });
    },
    ReportData() {
      return new Promise(async (resolve, reject) => {
        this.report_data.forEach(function(re, i) {
          this.ministry.forEach(function(min, x) {
            if (re.ministry == min.name) {
              min.departments.forEach(function(de, y) {
                if (re.department == de.name) {
                  re.department_display = de.display_name;
                  this.latest_report.push(re);
                }
              }, this);
            }
          }, this);
        }, this);
        resolve(this.latest_report);
      }, this);
    },
    async initial() {
      await this.getOrganizations().then(async response => {
        this.ministry = response;
        if (this.filterfrom.name == "latest") {
          await this.getLatestReport().then(async response => {
            this.report_data = response;
            await this.ReportData().then(response => {
              this.active = 1;
            }, this)
          }, this);
        } else {
          await this.getReportWithMinistry().then(async response => {
            this.report_data = response;
            await this.ReportData().then(response => {
              this.active = 1;
            }, this)
          }, this);
        }
      }, this);
    }
  },
  async created() {
    const filterfrom = localStorage.getItem("filterfrom");
    this.filterfrom = JSON.parse(filterfrom);
    await this.initial();
  }
};
</script>

<style scoped>
.report {
  width: 95%;
  height: 2000px;
  margin: 0 auto;
}

.btn-back {
  position: fixed;
  display: block;
  margin-top: 22px;
  margin-left: 0px;
  opacity: 0.5;
  transition: 0.3s all;
  z-index: 100;
}

.btn-back:hover {
  opacity: 1;
}

.area-card-report {
  height: 350px;
  transition: 0.3s all;
  cursor: pointer;
}

.area-card-report:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.card-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}
</style>