<template>
  <div class="content-area">
    <div class="container">
      <br>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input
            type="radio"
            name="options"
            id="option1"
            autocomplete="off"
            checked
            @click="active = 1"
          /> การแสดงประเภทหมวดหมู่
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off" @click="active = 2" /> การเชื่อมต่อระบบ (Visualize)
        </label>
      </div>
      <!-- active 1 -->
      <div class="content" v-if="active == 1">
        <br />
        <div class="container">
          <form>
            <div class="form-group row">
              <label
                class="col-sm-10 col-form-label"
              >จำนวนประเภท (Category) ที่แสดงในหน้าหลัก (สูงสุด = 10)</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" value="5" min="1" max="10" />
              </div>
            </div>
            <div class="form-group row">
              <label
                class="col-sm-10 col-form-label"
              >จำนวนหมวด (Domain) ที่แสดงในหน้าหลัก (สูงสุด = 10)</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" value="3" min="1" max="10" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-10 col-form-label">จำนวนรายงาน ที่แสดงในหน้าหลัก (สูงสุด = 10)</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" value="4" min="1" max="10" />
              </div>
            </div>
          </form>
        </div>
        <div class="container">
          <br />
          <div class="row">
            <div class="col text-center">
              <div class="btn-group">
                <input type="reset" class="btn btn-danger" value="ยกเลิก" />
                <input type="submit" class="btn btn-primary" value="ยืนยัน" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- active 2 -->
      <div class="content" v-if="active == 2">
        <br />
        <div class="container">
          <form>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Tableau site URL</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  value="http://tableau.dga.go.th/#/site/biengine"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Tableau username</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" value="admin" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Tableau password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" value="123456789" />
              </div>
            </div>
          </form>
        </div>
        <div class="container">
          <br />
          <div class="row">
            <div class="col text-center">
              <div class="btn-group">
                <input type="reset" class="btn btn-danger" value="ยกเลิก" />
                <input type="submit" class="btn btn-primary" value="ยืนยัน" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: 1
    };
  }
};
</script>

<style scoped>
.content {
  width: 70%;
  margin: 0 auto;
}
</style>