<template>
  <div class="content-area">
    <div class="container">
        <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>ระยะเวลาที่สามารถกู้คืนผู้ใช้งานได้ (วัน):</label>
            <input type="number" class="form-control" value="180"/>
          </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label>ระยะเวลาที่จะทำการล้างผู้ใช้งาน (วัน):</label>
            <input type="number" class="form-control" value="365"/>
          </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label>ระยะเวลาที่สามารถกู้คืนชุดข้อมูลเองได้ (วัน):</label>
            <input type="number" class="form-control" value="30"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>ระยะเวลาที่สามารถกู้คืนรายงานเองได้ (วัน):</label>
            <input type="number" class="form-control" value="30"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>ระยะเวลาที่ผู้ดูแลระบบสามารถกู้คืนชุดข้อมูลได้ (วัน):</label>
            <input type="number" class="form-control" value="180"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>ระยะเวลาที่ผู้ดูแลระบบสามารถรายงานได้ (วัน):</label>
            <input type="number" class="form-control" value="180"/>
          </div>
        </div>
        <div class="container">
            <br>
          <div class="row">
            <div class="col text-center">
              <div class="btn-group">
                <input type="reset" class="btn btn-danger" value="ยกเลิก" />
                <input type="submit" class="btn btn-primary" value="ยืนยัน" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>