<template>
  <div class="content-area">
    <div class="container">
        <br>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input
            type="radio"
            name="options"
            id="option1"
            autocomplete="off"
            checked
            @click="active = 1"
          /> การลงทะเบียน
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off" @click="active = 2" /> การเพิ่มชุดข้อมูล
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off" @click="active = 3" /> ประวัติการใช้งาน
        </label>
      </div>
      <!-- active 1 -->
      <div class="content" v-if="active == 1">
        <br />
        <div class="container">
          <form>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ชื่อเต็ม</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">อีเมล์</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">เลขที่บัตรประชาชน</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">หมายเลขโทรศัพท์</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">กระทรวง</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">กรม</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">คำขอพิเศษ</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
          </form>
        </div>
        <div class="container">
          <br />
          <div class="row">
            <div class="col text-center">
              <div class="btn-group">
                <input type="reset" class="btn btn-danger" value="ยกเลิก" />
                <input type="submit" class="btn btn-primary" value="ยืนยัน" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- active 2 -->
      <div class="content" v-if="active == 2">
        <br />
        <div class="container">
          <form>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">หัวข้อ</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">รายละเอียด</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">แท็ค</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">สัญญาอนุญาต</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">องค์กร</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ทัศนวิสัย</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ที่มา</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">หมายเลขรุ่น</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
          </form>
        </div>
        <div class="container">
          <br />
          <div class="row">
            <div class="col text-center">
              <div class="btn-group">
                <input type="reset" class="btn btn-danger" value="ยกเลิก" />
                <input type="submit" class="btn btn-primary" value="ยืนยัน" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- active 3 -->
       <div class="content" v-if="active == 3">
        <br />
        <div class="container">
          <form>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ชื่อผู้ใช้งาน</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ชื่อ-นามสกุล</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">หน่วยงาน</label>
              <div class="col-sm-8">
                <input type="checkbox" />
              </div>
            </div>
          </form>
        </div>
        <div class="container">
          <br />
          <div class="row">
            <div class="col text-center">
              <div class="btn-group">
                <input type="reset" class="btn btn-danger" value="ยกเลิก" />
                <input type="submit" class="btn btn-primary" value="ยืนยัน" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: 1
    };
  }
};
</script>

<style scoped>
.content {
  width: 70%;
  margin: 0 auto;
}
</style>