<template>
  <div id="app">
    <div class="tableauPlaceholder" :style="`width: ${width}px; height: ${height}px;`">
      <object class="tableauViz" width="100%" :height="this.height" style="display:none;">
        <param name="host_url" :value="IP + '/'" />
        <param name="embed_code_version" value="3" />
        <param name="site_root" :value="`/t/${site}`" />
        <param name="name" :value="`${view}`" />
        <!-- workbook/worksheet -->
        <param name='tabs' value='no' />
        <param name="toolbar" value="yes" />
        <param name="showAppBanner" value="false" />
        <param name='showShareOptions' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
      </object>
    </div>
  </div>
</template>

<script>
import { TABLEAU_CONFIG } from "../config";

export default {
  data() {
    return {
      IP: TABLEAU_CONFIG.IP,
      view: '',
      width: 0,
      height: 0,
      site: ''
    };
  },
  methods: {
    windowWidth() {
      this.width = window.innerWidth;
    },
    windowHeight() {
      this.height = window.innerHeight;
    }
  },
  props: ["viewurl"],
  created() {
    let ckeditor = document.createElement("script");
    ckeditor.setAttribute("src", `${this.IP}/javascripts/api/viz_v1.js`);
    document.head.appendChild(ckeditor);
    const view = this.$route.query.viewurl;
    console.log(view)
    if (view == undefined) {
      this.$router.push("/dashboard_list_visualize");
    } else {
      const view_array = view.split('/')
      console.log(view_array)
      this.view = view_array[7] + '/' + view_array[8]
      this.site = view_array[5]
    }

    if (process.browser) {
      this.width = window.innerHeight;
      this.height = window.innerHeight;
      window.addEventListener("resize", this.windowWidth);
      window.addEventListener("resize", this.windowHeight);
    }
  }
};
</script>