{% extends "bi_templates/user/main.html" %}

{% block subtitle %}{{ _('Main Portal') }}{% endblock %}

{% block user_primary %}
<div id="stelldiv">
</div>
<script>
var a = window.innerHeight;
var singleRowHeight = 5100;
var windowWidth = window.innerWidth;
var cardPerRow = windowWidth/320;
cardPerRow = Math.floor(cardPerRow);
var frameHeight = singleRowHeight;
if(cardPerRow == 1){
  frameHeight = 5100;
}else if(cardPerRow == 2){
  frameHeight = 2900;
}else{
  frameHeight = 2300;
}
var b = document.getElementById("stelldiv");
b.innerHTML = '<div style="width:100%;overflow: hidden;" onresize="resize()"><iframe src="http://172.21.1.181/bi_visualize/?page=portal" allowtransparency="true" style="width:103%;min-height:'+frameHeight+'px;" ></iframe></div>';
</script>
{% endblock %}
