{% ckan_extends %}

{% block header_account_notlogged %}
<li>{% link_for _('Log in'), named_route='bi_usr_login' %}</li>
{% endblock %}

 {% block header_site_search %}
  {{ super() }}

  <style type="text/css">
  .xs-divider {
    height: 1px;
    margin: 0;
    overflow: hidden;
      background-color: #fff;
  }

  .dropdown-menu-other {
    margin: 2px -90px 0;
    min-width: 180px;
  }

  .dropdown-menu-other > li > a:hover {
    color: #fff;
  }

  header{
    z-index: 200 !important ;
  }

</style>
 
      <nav class="section navigation ">
        <ul class="nav nav-pills">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  <i class="fa fa-bars"></i> {{_('MENU')}} </a>
            <ul class="dropdown-menu dropdown-menu-other ">
              <li class="{{'active' if c.controller == 'home' and c.action == 'index' else ''}}" >
                  <a href="{{h.url_for(controller='home', action='index')}}" >{{_('Home')}}</a>
              </li>
              <li class="{{'active' if c.controller == 'group' else ''}}">
                  <a href="{{h.url_for(controller='group', action='index')}}">{{_('Data Catalog')}}</a>
              </li>
              <li  class="">
                <a  href="#">{{_('Category/Domain')}}</a>
              </li>
              <li class="{{'active' if c.controller == 'organization' else ''}}" >
                <a  href="{{h.url_for(controller='organization', action='index')}}">{{_('Organizations')}}</a>
              </li>
              <li class="{{'active' if c.controller == 'user' else ''}}" >
                <a  href="{{h.url_for('bi_usr_dashboard_user')}}">{{_('Users')}}</a>
              </li>
              <li class="{{'active' if c.action == 'index' and c.controller == 'ckanext.bi_core.controllers.news:NewsController' else ''}}">
                <a  href="{{h.url_for(controller='ckanext.bi_core.controllers.news:NewsController', action='index')}}" >
                    {{_('News')}}
                </a>
              </li>
              <li class="">
                <a href="http://172.21.1.181/bi/user/dashboard_list_visualize">{{_('List Visualize')}}</a>
              </li>
              <li class="" >
                <a  href="{{ h.url_for('bi_usr_question_and_answer') }}">{{_('Q&A.')}}</a>
              </li>
              <li class="{{'active' if c.controller == 'ckanext.pages.controller:PagesController' else ''}}" >
                <a  href="{{h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_index')}}">{{_('Manual')}}</a>
              </li>
<!--              <li class="" >
                <a  href="{{ h.url_for('bi_usr_dashboard_feedback') }}">{{_('Feedback')}}</a>
              </li>
-->
              <li class="">
                <a href="http://172.21.1.181/bi/user/add_feedback">{{_('Add Feedback')}}</a>
              </li>
              <li class="">
                <a href="http://172.21.1.181/bi/user/dashboard_feedback">{{_('List Feedback')}}</a>
              </li>

              {% if c.userobj %}
                <li class="divider"></li>

                <li class="">
                  <a href="{{ h.url_for('bi_usr_profile') }}">{{_('Profile')}}</a></li>
                <li class="">
                  <a href="{{ h.url_for('bi_usr_content_activity') }}">{{_('Activity Stream')}}</a></li>
                  {% if c.userobj.sysadmin %}
                  <li class="">
                    <a href="{{ h.url_for(controller='admin', action='index') }}">{{_('Settings')}}</a></li>
                  {% endif %}

                <li class="">
                  <a href="{{ h.url_for('/user/_logout') }}">{{_('Log out')}}</a></li>
               {% endif %}
            </ul>
          </li>
        </ul>
      </nav> 
 {% endblock %}


