{% extends "bi_templates/user/main.html" %}
{% block subtitle %}{{ _("AddFeedback") }}{% endblock %}

{% set url = h.url_for('home.index', _external = True) %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block user_primary %}
<div class="row">
   <iframe src="http://172.21.1.181:4000/add_feedback?redirectPage=add_feedback" style="width:100%;height:600px"></iframe> 
</div>
{% endblock %}
