{% extends "bi_templates/user/main.html" %}
{% block subtitle %}{{ _("DashboardListVisualize") }}{% endblock %}

{% set url = h.url_for('home.index', _external = True) %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block user_primary %}
<div class="row" ng-app="visualizeApp" ng-controller="listdata">
   <iframe src="http://172.21.1.181:4000?redirectPage=dashboard_list_visualize" style="width:100%;height:1000px"></iframe> 
</div>
{% endblock %}
