{% extends "bi_templates/user/main.html" %}
{% block subtitle %}{{ _("Forgot_password") }}{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="/bi/css/sweetalert.css">
<link rel="stylesheet" href="/bi/bootstrap-3.3.7/css/bootstrap.min.css" />

<script src="/bi/js/sweetalert.min.js"></script>
<script>
    function forgotPasswordNJS() {
        var inputMail = document.getElementById("input_user_email").value;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                window.alert('change password complete.');                             
                forgotPasswordCallback(jsonRes);
            }else{
                window.alert('change password complete.');
            }
        };
        xmlhttp.open("POST", "http://172.21.1.181:3000/ForgotPassword", true);
        xmlhttp.setRequestHeader("Content-type", "application/json");
        xmlhttp.send(JSON.stringify({email:inputMail}));
    }
    function forgotPasswordCallback(param) {
        window.alert('change password complete.');
    }
</script>
{% endblock %}

{% block user_primary %}
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>ลืมรหัสผ่าน</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>ชื่อผู้ใช้/อีเมล :</label>
                        <input type="text" id="input_user_email" name="user_email" class="form-control" value="" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group text-right">
                        <div class="btn-group">
                            <input type="submit" name="submit" value="ลืมรหัสผ่าน" class="btn btn-primary"
                                onclick="forgotPasswordNJS()" />
                            <a href="{{h.url_for('bi_usr_login')}}" class="btn btn-default">ย้อนกลับ</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}